@import "tailwindcss";
@import "@fontsource-variable/jetbrains-mono/wght.css";
@import "@fontsource-variable/syne/wght.css";

@theme {
  --font-sans: "Syne Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;

  /* Colores */

  /* Radical Red */
  --color-radical-red-50: #ffeff2;
  --color-radical-red-100: #ffe0e6;
  --color-radical-red-200: #ffc6d3;
  --color-radical-red-300: #ff97b0;
  --color-radical-red-400: #ff5d87;
  --color-radical-red-500: #ff2462;
  --color-radical-red-600: #ff0055;
  --color-radical-red-700: #d7004d;
  --color-radical-red-800: #b40046;
  --color-radical-red-900: #990242;
  --color-radical-red-950: #570022;

  /* Selective Yellow */
  --color-selective-yellow-50: #fffdea;
  --color-selective-yellow-100: #fff9c5;
  --color-selective-yellow-200: #fff285;
  --color-selective-yellow-300: #ffe546;
  --color-selective-yellow-400: #ffd51b;
  --color-selective-yellow-500: #ffb800;
  --color-selective-yellow-600: #e28e00;
  --color-selective-yellow-700: #bb6302;
  --color-selective-yellow-800: #984c08;
  --color-selective-yellow-900: #7c3e0b;
  --color-selective-yellow-950: #482000;

  /* Blue Marguerite */
  --color-blue-marguerite-50: #f6f5fd;
  --color-blue-marguerite-100: #efedfa;
  --color-blue-marguerite-200: #e1def6;
  --color-blue-marguerite-300: #cac3ef;
  --color-blue-marguerite-400: #aea0e5;
  --color-blue-marguerite-500: #9279d9;
  --color-blue-marguerite-600: #8563cd;
  --color-blue-marguerite-700: #6f4ab7;
  --color-blue-marguerite-800: #5d3d9a;
  --color-blue-marguerite-900: #4d347e;
  --color-blue-marguerite-950: #302055;

  /* black */
  --color-dark-50: #171314;
  --color-dark-100: #110d0e;
  --color-dark-200: #1a1617;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  background-color: var(--color-dark-50);
  color: #fff;
}

.snap-container {
  display: block; /* Aseguramos que sea bloque */
  height: calc(100dvh - 4rem);
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  outline: none; /* Evita bordes molestos al hacer focus */
}

/* Scrollbar para Chrome/Safari */
.snap-container::-webkit-scrollbar {
  width: 6px;
}

.snap-container::-webkit-scrollbar-track {
  background: #1a1617;
}

.snap-container::-webkit-scrollbar-thumb {
  background-color: #ff0055;
  border-radius: 20px;
}

.snap-section {
  /* Forzamos que la sección ocupe exactamente el viewport */
  height: 100dvh;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;

  /* Esto ayuda a que el navegador entienda que es un bloque sólido */
  display: flex;
  flex-direction: column;
}

.card-shadow {
  box-shadow:
    -20px 0px 40px -10px rgba(255, 0, 85, 0.3),
    20px 0px 40px -10px rgba(255, 136, 0, 0.3);
}
